  $main-text-color: #1D1B1B; 
 

     
  %lato-400 { 
    font-family: 'Lato'; 
    font-weight: 400; 
  } 
   
  %lato-500 { 
    font-family: 'Lato'; 
    font-weight: 500; 
  }  
   
  %lato-700 { 
    font-family: 'Lato'; 
    font-weight: 700; 
  } 
   
  